# ملفات الأسرار (ممنوع الرفع)
.env

# ملفات البايثون المؤقتة
__pycache__/
*.pyc

# ملفات قاعدة البيانات المحلية (ثقيلة ولا نحتاجها في السحابة)
pocketbase.exe
pb_data/
cloudflared.exe

# ملفات المحرر
.vscode/